{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@loadable/babel-plugin"
    ],
    "env": {
        "node": {
            "plugins": [
                [ 
                    "babel-plugin-transform-require-ignore", {
                        "extensions": [ ".scss", ".less" ]
                    }
                ],
                "babel-plugin-transform-ensure-ignore"
            ]
        }
    }
}